/* Body Settings */
#bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 500px 0px 500px;
    text-align: center;
}

#bodyContainer #description {
    font-size: 30px;
}

#author p {
    font-size: 15px;
}