#employmentContainer a {
    text-decoration: none;
}

#employmentContainer a:link {
    color: #e0e1dd;
}

#employmentContainer a:visited {
    color: #e0e1dd;
}

#empDegreeStats {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px black solid;
    background-color: #e0e1dd;
    color: black;
}

#empDegreeStats #degreeDesc {
    font-size: 20px;
    font-weight: bold;
} 

#degreeStatsContainer {
    display: flex;
    justify-content: space-evenly;
}

#empCarContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

#centerStats {
    display: flex;
    justify-content: center;
}