
form {
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#00FFFF, #FFC0CB)
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
}

#questionaire {
    font-size: 15px;
}

#results {
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#00FFFF, #FFC0CB);
}

#outputImage {
    width: 500px;
    height: 500px;
}